body{
    font-family: 'Roboto', sans-serif;	
    font-size: 16px;
    font-weight: 100;
	margin: 0px;
    
	width: 100%;
	padding: 0px;
}
footer {
	background-color: #575556;
	color: white;
	margin: 0px;
	width: 100%;
}
header{
    width: 100%;
}
nav{
    font-size: .9em;
    width: 100%;
    height: 48px;
    margin: auto;
    background-color: #f08920;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul, nav ul li, nav ul li a, nav ul > li{
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 140px;
    
}
nav li:hover{
    background: #575556;
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin: -1px;
    
}
nav li > ul{
    position: absolute;
    width: 140px;
    display: none;
    margin: 0px;
    padding: 0;

}
nav li > li a{
    
}
nav li >a{
    color: white;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 140px;
    
}
nav ul li:hover ul{
    background-color: #d4d4d5;/* Color Gris*/
    border: 1px solid white;
    font-size: 0.8em;
    margin: -1px;
    max-width: 140px;
    display: block;
}
nav ul li ul li{
    border-bottom: 1px solid white;
    margin-bottom: -1px;
}
nav ul li:hover ul li a{
    color: black;
}
nav ul li ul li:hover{
    background-color:  #f08920;
    border-bottom: 0;
    
}
nav ul li ul li:hover a{
    color: white;
    border-top: 0px solid white;
    margin-left: 0px;
}
hr{
	background-color: #f08920;
	border-color: #f08920;
	display: inline-block;
	margin: 0px;
	margin-left: 0.5em;
	margin-right: -0.5em;
	height: 100px;
	width: 3px;
}
ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact {
	font-size: 0.9em;
	display: inline-block;
	padding-left: 4em;
	padding-top: 1em;
	padding-bottom: 0em;
    text-align: left;
    
}
.contact a{
	color: #f08920;
	padding-bottom: 0px;
	margin-bottom: 0.5em;
}
.naranja {
	color: #f08920;
    
}
.txt_light{
	
}
.txt_bold{
    font-family: 'Open Sans' ,sans-serif;
}
.icono-facebook, .icono-twitter, .icono-rss{

}
.seccion{
    background-color: #dfeaf6;
    margin-top: -0.5em;
    padding: 0;
    height: 200px;
    width: 100%;
}
.seccion_serv{
    color: #585657;
    background-color: #cbcbcb;
    font-size: 1.5em;
    padding: 0.5em;
    text-align: center;
}
#img-logo{
    margin-top: 1em;
    text-align: center
}
#social{
	float: right;
	padding-right: 4em;
	position: static;
	text-align: center;
}
#social a{
	color: white;
	display: inline-block;
	text-align: center;
	text-decoration: none;

}
#social-media a{
	margin-top: .7em;
	margin-right: 1.5em;
}
#social-media i{
	color: #f08920;
}
#copy{
	background-color: #f08920;
	color: white;
	font-size: 0.8em;
	padding-top: 1.2em;
    padding-bottom: 1.2em;
	text-align: center;
	width: 100%;
}
